/*Aqui inician los estilos */
Estilos del header
*{
  border: 2px solid brown;
}
main{
  display: grid;
}

header {
    background: rgba(212, 183, 18, 0.7);
    width: calc(100% - 50px);
    position:relative;
    z-index: 100;
    height: 100px;
    height: 150px;
    text-align:right ;
    margin-left: 10px;
    margin-right: 20px;
    display: flex;
    }
    header h1{
      text-align: center;
      margin-top: 10px;
    }
    /*estilo del container */
    
    .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height:150px;
    margin-top: 5px;   
    justify-content:space-evenly;
    }
    
    .container h1{
      color: black;
      font-size: 40px;
      margin-left: 20px;
      margin-right: 50px;
    }

    /*Estilo para el titulo principal*/
    .titulo{
      width: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align:center; font-size: 20px; text-shadow: 7px 4px 5px rgb(152, 177, 157);
    }
    section h1{
      font-size: 3em;
    }
    
    /*Aqui se da estilo al boton que lleva al proyecto del grupo 3*/
   
    /*aqui finalizan los estilos del boton*/
   /*Estilos de la seccion presentación*/
      
      p{
        color: rgb(17, 17, 16);
        Font-family: Cambria, Georgia, serif.;
        font-size:30px;
      }
      #descripcion{
        align="right";
        /* color: #2667FF */
        font-size: 40px;
        font-family:"Latin Modern Roman";
        text-align: justify;
       
        padding: 45px;
        height: 200px;
       
      }
      /*h2{
        color: rgb(26, 25, 23);
        transition-property: opacity, left, top, height;
        transition-duration: 3s, 5s;
      }
      
      /* Aqui inician los estilos del area de los perfiles*/
      .perfiles_desarrollo{
        color: rgb(233, 223, 223);
        text-align: center;
        background-color:#449;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:250px;
        
      }
      img.mediana{
        width: 200px;
        height: 180px;
        border: solid 1px;
        
      }
      .mis-perfiles{
        font-size:1em;
        color: #fff;
      }
      div.perfiles {
        width: 90%;
        margin: 20px auto;
        background-color: #449;
        color: #fff;
        padding: 15px;
      }
      
      div.perfiles img.izquierda {
       width: 200px;
        height: 180px;
       
      }
      
      div.perfiles img.derecha {
        width: 200px;
        height: 250px;
        float: left;
        padding: 25px;
        border-radius: 50%;        
      }
    

      .volver{
        float:left;
        margin-top: 20px;
        margin-left: 20px;
        width: 40px;
        height: 40px;
        font-weight: bold;  
      }
     
      
      div.reset {
        clear: both;
      }
      .names{
        color: rgb(13, 13, 15);
        text-align: center;
        text-align:center; font-size: 1.9em; text-shadow: 7px 4px 5px rgb(178, 178, 204);
      }
      
      /* Aqui finalizan los estilos de los perfiles */
      /*estilos del footer*/
      #foot{
        color: #020024;
        font-size: 1.5em;
        text-align: center;
      }
      .padre {
        height:100px;
        background-color: #feb139;
        display: flex;
        margin: auto;
        width: 550px;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
       
        
        
      }
      .Hijo {
        display: flex;
        flex-direction: row;
        
       
      }
      #hijo div{
        width:60px;
        height:60px;
        padding:5px;
        columns: 3;
        text-align: center;
        
        
        
      }
      
      @media only screen and (max-width: 600px) {
            
       


        h1{
          text-align:center; 
          font-size: 20px; 
          text-shadow: 7px 4px 5px rgb(178, 178, 204);
        }
        #descripcion{
          font-size: 20px;
          font-weight:200;
        }
      }
   .btn-proyecto {
            background-color: #479668;/* Green */
            border-radius: 12px;
            color: rgb(15, 14, 14);
            padding: 20px;
            text-align: center;
            align-content: center;
            text-decoration: none;            
           flex-direction: column;          
            cursor: pointer;
            margin-right: 10px;
            margin-top: 30px;      
            width: 100%;
            height: 60px;           
            font-weight:bold;   
           
      }


          /* .container {
            <div class="w3-row">
  <div class="w3-col w3-green w3-container" style="width:20%"><p>20%</p></div>
  <div class="w3-col w3-blue w3-container" style="width:60%"><p>60%</p></div>
  <div class="w3-col w3-red w3-container" style="width:20%"><p>20%</p></div>
  </div 
            }  */

            .volver {
              background-color: #479668;/* Green */
              border-radius: 12px;
              color: rgb(119, 29, 29);
              padding: 20px;
              text-align: center;
              text-decoration: none;
              display:inline ;
              font-size: 30px;
              margin-right: 20px;
              cursor: pointer;      
              width: 20%;
              height: 40px;
              font-weight: bold;   
              margin-top: 32px;       
            }
         
      }     