/*Aqui inician los estilos */
:root{
  --color-fondo-titulo:rgb(115, 182, 115);
}
/*Estilos para el header y los botones de navegación*/
.topMenu {
  width: 90%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  list-style-type: none;
  background-color: var(--color-fondo-titulo);
  overflow: hidden;
  height: 150px;
  display: inline-flex; /* Para hacer que el elemento tan solo ocupe lo que sus hijos marque */
  border-radius: 30px;
  align-items: center; /* Para alinear items flexibles respecto al eje secundario */
  justify-content: space-between;
  width:100%;
}

.topMenu p {
  font-size: 50px;
  color: darkblue;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.topMenu button {
  border-radius: 8px;
  border-color: black;
  background-color: rgb(195, 216, 255);
  text-decoration: black;
  font-size: 17px;
  height: 90px;
  width: 500px;
  margin-right: 40px;
}
/*Hasta aqui son los estilos de los botones*/

/*Estilo para el titulo principal de la página de presentación*/
    section h1{
      text-align: center;
      margin-top: 70px;
      font-size: 3em;      
    }
/*Estilos para la descripción del equipo*/   
      #descripcion{
        align="right";
        /* color: #2667FF */
        font-size: 40px;
        font-family:"Latin Modern Roman";
        text-align: justify;       
        padding: 45px;
        height: 200px;      
      }
/* Hasta aqui Estilos para la descripción del equipo*/   
.cabecera{
  margin-top: 12px;
  height:100px;
  background-color:var(--color-fondo-titulo);
  display: flex;
  margin: auto;
  width: 98%; 
  align-items: center;
  margin-top:20px; 
}
.cabecera h1{
  margin: auto;
}  
.cabecera #btn1{
  justify-content: left;
} 
.cabecera #btn2{
  justify-content:right;
}   

/*eSTILOS PARA EL TITULO EQUIPO DE DESARROLLO*/
.equipo{
  margin-top: 12px;
  height:100px;
  background-color:var(--color-fondo-titulo);
  display: flex;
  margin: auto;
  width: 98%;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top:200px;
  border-radius: 30px;
}
/*Estilos para la descripcion de cada desarrollador*/
      .perfiles_desarrollo{
        color: rgb(233, 223, 223);
        text-align: center;
        background-color:var( --color-fondo-titulo);
        display: flex;
        flex-direction: column;
        align-items: center;
        width:95%;
        justify-content: center;
        margin-top:250px;
        margin-right:30%;
        margin-left: 5%;
        
      }
      img.mediana{
        width: 200px;
        height: 180px;
        border: solid 1px;
        
      }
      .mis-perfiles{
        font-size:2em;
        color: #fff;
      }
      div.perfiles {
        width: 90%;
        margin: 20px auto;
        background-color: #449;
        color: #fff;
        padding: 15px;
      }
      
      
      
      div.perfiles img.derecha {
        width: 200px;
        height: 250px;
        float: left;
        padding: 25px;
        border-radius: 50%;        
      }
        
      div.reset {
        clear: both;
      }
      .names{
        color: rgb(13, 13, 15);
        text-align: center;
        text-align:center; font-size: 1.9em; text-shadow: 7px 4px 5px rgb(178, 178, 204);
      }
      
      /* Aqui finalizan los estilos de los perfiles */

      /*estilos del footer*/
      #foot{
        color: #020024;
        font-size: 1.5em;
        text-align: center;
        /*Hasta aqui estilos del footer*/
      }
      
      :root{
        --fondo-textos:#449;
        --color-letra:#fff;
      }
      /************************************************************/
     
 /*Estilos para movil */
 @media only screen and (max-width: 414px) {
  body{
    margin: 0;
    padding: 0;
    background-color: #97939c;
    width: 100%;
  } 
  .topMenu {
    width: 90%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    list-style-type: none;
    background-color: var(--color-fondo-titulo);
    overflow: hidden;
    height: 150px;
    display: inline-flex; /* Para hacer que el elemento tan solo ocupe lo que sus hijos marque */
    border-radius: 30px;
    align-items: center; /* Para alinear items flexibles respecto al eje secundario */
    justify-content: space-between;
    width:100%;
  }
  
  .topMenu p {
    font-size: 1.5em;
    color: darkblue;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .topMenu button {
    border-radius: 8px;
    border-color: black;
    background-color: rgb(195, 216, 255);
    text-decoration: black;
    font-size: 1em;
    height: 50px;
    width: 15em;
    margin-right: 40px;
  }
  .equipo{
    margin-top: 12px;
    height:100px;
    background-color:var(--color-fondo-titulo);
    display: flex;
    margin: auto;
    width: 98%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top:950px;
    border-radius: 30px;        
    }
    #descripcion{
          
      font-size: 2em;
      font-family:"Latin Modern Roman";
      text-align: justify;       
      padding: 45px;
      height: 200px;      
    }
  }
  img.mediana{
    width: 200px;
    height: 180px;
    border: solid 1px;
    
  }
  .mis-perfiles{
    font-size:2.2em;
    color: #fff;
  }
  div.perfiles {
    width: 90%;
    margin: 20px auto;
    background-color: #449;
    color: #fff;
    padding: 15px;
  }
  
  
  
  div.perfiles img.derecha {
    width: 200px;
    height: 250px;
    float: left;
    padding: 25px;
    border-radius: 50%;        
  }
    
  div.reset {
    clear: both;
  }
  .names{
    color: rgb(13, 13, 15);
    text-align: center;
    text-align:center; font-size: 1.9em; text-shadow: 7px 4px 5px rgb(178, 178, 204);
  }
  
  
    /*HASTA AQUI ES PARA MOVIL*/

    /*Estilos para tablet*/
    @media only screen and (min-width:415px) and (max-width: 768px)  {
      body{
        margin: 0;
        padding: 0;
        background-color: #d8ec23;
        width: 100%;
      } 
      .topMenu {
        width: 90%;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        list-style-type: none;
        background-color: var(--color-fondo-titulo);
        overflow: hidden;
        height: 150px;
        display: inline-flex; /* Para hacer que el elemento tan solo ocupe lo que sus hijos marque */
        border-radius: 30px;
        align-items: center; /* Para alinear items flexibles respecto al eje secundario */
        justify-content: space-between;
        width:100%;
      }
      
      .topMenu p {
        font-size: 1.5em;
        color: darkblue;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
      }
      
      .topMenu button {
        border-radius: 8px;
        border-color: black;
        background-color: rgb(195, 216, 255);
        text-decoration: black;
        font-size: 1em;
        height: 50px;
        width: 15em;
        margin-right: 40px;
      }
      .equipo{
        margin-top: 12px;
        height:100px;
        background-color:var(--color-fondo-titulo);
        display: flex;
        margin: auto;
        width: 98%;
        flex-flow: row;
        align-items: center;
        margin-top:800px;
        border-radius: 30px;        
        }
        #descripcion{
          
          font-size: 2em;
          font-family:"Latin Modern Roman";
          text-align: justify;       
          padding: 45px;
          height: 200px;      
        }
        div.perfiles {
          width: 95%;
          margin: 20px auto;
          background-color: #449;
          color: #fff;
          padding: 60px;
        }
    }
    /*Hasta aqui son los estilos para tablet*/

          /*Aqui inician los Estilos para pc*/
          
/*Hasta aqui son los estilos para pc*/